[submodule "plugin/breezyarchives"]
	path = plugin/breezyarchives
	url = https://github.com/habari-extras/breezyarchives.git
[submodule "plugin/bricks"]
	path = plugin/bricks
	url = https://github.com/habari-extras/bricks.git
[submodule "plugin/brightkite"]
	path = plugin/brightkite
	url = https://github.com/habari-extras/brightkite.git
[submodule "plugin/bumping"]
	path = plugin/bumping
	url = https://github.com/habari-extras/bumping.git
[submodule "plugin/calendar"]
	path = plugin/calendar
	url = https://github.com/habari-extras/calendar.git
[submodule "plugin/chicklet"]
	path = plugin/chicklet
	url = https://github.com/habari-extras/chicklet.git
