[submodule "plugin/breezyarchives"]
	path = plugin/breezyarchives
	url = https://github.com/habari-extras/breezyarchives.git
[submodule "plugin/bricks"]
	path = plugin/bricks
	url = https://github.com/habari-extras/bricks.git
[submodule "plugin/brightkite"]
	path = plugin/brightkite
	url = https://github.com/habari-extras/brightkite.git
[submodule "plugin/bumping"]
	path = plugin/bumping
	url = https://github.com/habari-extras/bumping.git
[submodule "plugin/calendar"]
	path = plugin/calendar
	url = https://github.com/habari-extras/calendar.git
[submodule "plugin/chicklet"]
	path = plugin/chicklet
	url = https://github.com/habari-extras/chicklet.git
[submodule "plugin/chyrpimport"]
	path = plugin/chyrpimport
	url = https://github.com/habari-extras/chyrpimport.git
[submodule "plugin/cisco"]
	path = plugin/cisco
	url = https://github.com/habari-extras/cisco.git
[submodule "plugin/clickheat"]
	path = plugin/clickheat
	url = https://github.com/habari-extras/clickheat.git
[submodule "plugin/code_escape"]
	path = plugin/code_escape
	url = https://github.com/habari-extras/code_escape.git
[submodule "plugin/colophon"]
	path = plugin/colophon
	url = https://github.com/habari-extras/colophon.git
[submodule "plugin/comment-ident"]
	path = plugin/comment-ident
	url = https://github.com/habari-extras/comment-ident.git
[submodule "plugin/comment_notifier"]
	path = plugin/comment_notifier
	url = https://github.com/habari-extras/comment_notifier.git
[submodule "plugin/commentated"]
	path = plugin/commentated
	url = https://github.com/habari-extras/commentated.git
[submodule "plugin/commonblocks"]
	path = plugin/commonblocks
	url = https://github.com/habari-extras/commonblocks.git
[submodule "broken/cpg"]
	path = broken/cpg
	url = https://github.com/habari-extras/cpg.git
[submodule "plugin/creditdue"]
	path = plugin/creditdue
	url = https://github.com/habari-extras/creditdue.git
[submodule "plugin/crontabmanager"]
	path = plugin/crontabmanager
	url = https://github.com/habari-extras/crontabmanager.git
[submodule "plugin/customctypes"]
	path = plugin/customctypes
	url = https://github.com/habari-extras/customctypes.git
[submodule "plugin/customquery"]
	path = plugin/customquery
	url = https://github.com/habari-extras/customquery.git
[submodule "plugin/database_optimizer"]
	path = plugin/database_optimizer
	url = https://github.com/habari-extras/database_optimizer.git
[submodule "plugin/date_ninja"]
	path = plugin/date_ninja
	url = https://github.com/habari-extras/date_ninja.git
[submodule "plugin/dateyurl"]
	path = plugin/dateyurl
	url = https://github.com/habari-extras/dateyurl.git
[submodule "plugin/defensio"]
	path = plugin/defensio
	url = https://github.com/habari-extras/defensio.git
[submodule "plugin/deliciousfeed"]
	path = plugin/deliciousfeed
	url = https://github.com/habari-extras/deliciousfeed.git
[submodule "plugin/diggbarblocker"]
	path = plugin/diggbarblocker
	url = https://github.com/habari-extras/diggbarblocker.git
[submodule "broken/diigosilo"]
	path = broken/diigosilo
	url = https://github.com/habari-extras/diigosilo.git
[submodule "plugin/discussit"]
	path = plugin/discussit
	url = https://github.com/habari-extras/discussit.git
[submodule "plugin/disqus"]
	path = plugin/disqus
	url = https://github.com/habari-extras/disqus.git
[submodule "plugin/dnsbl"]
	path = plugin/dnsbl
	url = https://github.com/habari-extras/dnsbl.git
[submodule "plugin/download-plugin"]
	path = plugin/download-plugin
	url = https://github.com/habari-extras/download-plugin.git
[submodule "plugin/draftdashmodule"]
	path = plugin/draftdashmodule
	url = https://github.com/habari-extras/draftdashmodule.git
[submodule "broken/dropiosilo"]
	path = broken/dropiosilo
	url = https://github.com/habari-extras/dropiosilo.git
[submodule "plugin/drupalimport"]
	path = plugin/drupalimport
	url = https://github.com/habari-extras/drupalimport.git
[submodule "plugin/dynamic_style_selector"]
	path = plugin/dynamic_style_selector
	url = https://github.com/habari-extras/dynamic_style_selector.git
[submodule "plugin/eventscontent"]
	path = plugin/eventscontent
	url = https://github.com/habari-extras/eventscontent.git
[submodule "plugin/export"]
	path = plugin/export
	url = https://github.com/habari-extras/export.git
[submodule "plugin/exportsnapshot"]
	path = plugin/exportsnapshot
	url = https://github.com/habari-extras/exportsnapshot.git
[submodule "plugin/extendedlog"]
	path = plugin/extendedlog
	url = https://github.com/habari-extras/extendedlog.git
[submodule "plugin/extra_content"]
	path = plugin/extra_content
	url = https://github.com/habari-extras/extra_content.git
