[submodule "plugin/breezyarchives"]
	path = plugin/breezyarchives
	url = https://github.com/habari-extras/breezyarchives.git
[submodule "plugin/bricks"]
	path = plugin/bricks
	url = https://github.com/habari-extras/bricks.git
[submodule "plugin/brightkite"]
	path = plugin/brightkite
	url = https://github.com/habari-extras/brightkite.git
[submodule "plugin/bumping"]
	path = plugin/bumping
	url = https://github.com/habari-extras/bumping.git
[submodule "plugin/calendar"]
	path = plugin/calendar
	url = https://github.com/habari-extras/calendar.git
[submodule "plugin/chicklet"]
	path = plugin/chicklet
	url = https://github.com/habari-extras/chicklet.git
[submodule "plugin/chyrpimport"]
	path = plugin/chyrpimport
	url = https://github.com/habari-extras/chyrpimport.git
[submodule "plugin/cisco"]
	path = plugin/cisco
	url = https://github.com/habari-extras/cisco.git
[submodule "plugin/clickheat"]
	path = plugin/clickheat
	url = https://github.com/habari-extras/clickheat.git
[submodule "plugin/code_escape"]
	path = plugin/code_escape
	url = https://github.com/habari-extras/code_escape.git
[submodule "plugin/colophon"]
	path = plugin/colophon
	url = https://github.com/habari-extras/colophon.git
[submodule "plugin/comment-ident"]
	path = plugin/comment-ident
	url = https://github.com/habari-extras/comment-ident.git
[submodule "plugin/comment_notifier"]
	path = plugin/comment_notifier
	url = https://github.com/habari-extras/comment_notifier.git
[submodule "plugin/commentated"]
	path = plugin/commentated
	url = https://github.com/habari-extras/commentated.git
[submodule "plugin/commonblocks"]
	path = plugin/commonblocks
	url = https://github.com/habari-extras/commonblocks.git
[submodule "broken/cpg"]
	path = broken/cpg
	url = https://github.com/habari-extras/cpg.git
[submodule "plugin/creditdue"]
	path = plugin/creditdue
	url = https://github.com/habari-extras/creditdue.git
[submodule "plugin/crontabmanager"]
	path = plugin/crontabmanager
	url = https://github.com/habari-extras/crontabmanager.git
[submodule "plugin/customctypes"]
	path = plugin/customctypes
	url = https://github.com/habari-extras/customctypes.git
[submodule "plugin/customquery"]
	path = plugin/customquery
	url = https://github.com/habari-extras/customquery.git
[submodule "plugin/database_optimizer"]
	path = plugin/database_optimizer
	url = https://github.com/habari-extras/database_optimizer.git
[submodule "plugin/date_ninja"]
	path = plugin/date_ninja
	url = https://github.com/habari-extras/date_ninja.git
[submodule "plugin/dateyurl"]
	path = plugin/dateyurl
	url = https://github.com/habari-extras/dateyurl.git
[submodule "plugin/defensio"]
	path = plugin/defensio
	url = https://github.com/habari-extras/defensio.git
[submodule "plugin/deliciousfeed"]
	path = plugin/deliciousfeed
	url = https://github.com/habari-extras/deliciousfeed.git
[submodule "plugin/diggbarblocker"]
	path = plugin/diggbarblocker
	url = https://github.com/habari-extras/diggbarblocker.git
[submodule "broken/diigosilo"]
	path = broken/diigosilo
	url = https://github.com/habari-extras/diigosilo.git
[submodule "plugin/discussit"]
	path = plugin/discussit
	url = https://github.com/habari-extras/discussit.git
[submodule "plugin/disqus"]
	path = plugin/disqus
	url = https://github.com/habari-extras/disqus.git
[submodule "plugin/dnsbl"]
	path = plugin/dnsbl
	url = https://github.com/habari-extras/dnsbl.git
[submodule "plugin/download-plugin"]
	path = plugin/download-plugin
	url = https://github.com/habari-extras/download-plugin.git
[submodule "plugin/draftdashmodule"]
	path = plugin/draftdashmodule
	url = https://github.com/habari-extras/draftdashmodule.git
[submodule "broken/dropiosilo"]
	path = broken/dropiosilo
	url = https://github.com/habari-extras/dropiosilo.git
[submodule "plugin/drupalimport"]
	path = plugin/drupalimport
	url = https://github.com/habari-extras/drupalimport.git
[submodule "plugin/dynamic_style_selector"]
	path = plugin/dynamic_style_selector
	url = https://github.com/habari-extras/dynamic_style_selector.git
[submodule "plugin/eventscontent"]
	path = plugin/eventscontent
	url = https://github.com/habari-extras/eventscontent.git
[submodule "plugin/export"]
	path = plugin/export
	url = https://github.com/habari-extras/export.git
[submodule "plugin/exportsnapshot"]
	path = plugin/exportsnapshot
	url = https://github.com/habari-extras/exportsnapshot.git
[submodule "plugin/extendedlog"]
	path = plugin/extendedlog
	url = https://github.com/habari-extras/extendedlog.git
[submodule "plugin/extra_content"]
	path = plugin/extra_content
	url = https://github.com/habari-extras/extra_content.git
[submodule "plugin/feedburner"]
	path = plugin/feedburner
	url = https://github.com/habari-extras/feedburner.git
[submodule "plugin/feedlist"]
	path = plugin/feedlist
	url = https://github.com/habari-extras/feedlist.git
[submodule "plugin/fileman"]
	path = plugin/fileman
	url = https://github.com/habari-extras/fileman.git
[submodule "plugin/fireeagle"]
	path = plugin/fireeagle
	url = https://github.com/habari-extras/fireeagle.git
[submodule "plugin/flickrfeed"]
	path = plugin/flickrfeed
	url = https://github.com/habari-extras/flickrfeed.git
[submodule "plugin/fluffytag"]
	path = plugin/fluffytag
	url = https://github.com/habari-extras/fluffytag.git
[submodule "plugin/fontdeck"]
	path = plugin/fontdeck
	url = https://github.com/habari-extras/fontdeck.git
[submodule "plugin/footnotes"]
	path = plugin/footnotes
	url = https://github.com/habari-extras/footnotes.git
[submodule "plugin/freeplace"]
	path = plugin/freeplace
	url = https://github.com/habari-extras/freeplace.git
[submodule "plugin/freshcomments"]
	path = plugin/freshcomments
	url = https://github.com/habari-extras/freshcomments.git
[submodule "plugin/ga_dashboard"]
	path = plugin/ga_dashboard
	url = https://github.com/habari-extras/ga_dashboard.git
[submodule "broken/gallr"]
	path = broken/gallr
	url = https://github.com/habari-extras/gallr.git
[submodule "plugin/geolocations"]
	path = plugin/geolocations
	url = https://github.com/habari-extras/geolocations.git
[submodule "plugin/geolocations_mashup"]
	path = plugin/geolocations_mashup
	url = https://github.com/habari-extras/geolocations_mashup.git
[submodule "plugin/geotags"]
	path = plugin/geotags
	url = https://github.com/habari-extras/geotags.git
[submodule "plugin/getclicky"]
	path = plugin/getclicky
	url = https://github.com/habari-extras/getclicky.git
[submodule "plugin/goodcode"]
	path = plugin/goodcode
	url = https://github.com/habari-extras/goodcode.git
[submodule "plugin/google-ajax"]
	path = plugin/google-ajax
	url = https://github.com/habari-extras/google-ajax.git
[submodule "plugin/google-code-prettify"]
	path = plugin/google-code-prettify
	url = https://github.com/habari-extras/google-code-prettify.git
[submodule "plugin/googleads"]
	path = plugin/googleads
	url = https://github.com/habari-extras/googleads.git
[submodule "plugin/googleanalytics"]
	path = plugin/googleanalytics
	url = https://github.com/habari-extras/googleanalytics.git
[submodule "plugin/googlemaps"]
	path = plugin/googlemaps
	url = https://github.com/habari-extras/googlemaps.git
[submodule "plugin/gravatar"]
	path = plugin/gravatar
	url = https://github.com/habari-extras/gravatar.git
[submodule "plugin/habari_import"]
	path = plugin/habari_import
	url = https://github.com/habari-extras/habari_import.git
[submodule "plugin/habariakismet"]
	path = plugin/habariakismet
	url = https://github.com/habari-extras/habariakismet.git
[submodule "plugin/habaridiggbarkiller"]
	path = plugin/habaridiggbarkiller
	url = https://github.com/habari-extras/habaridiggbarkiller.git
[submodule "plugin/habarimarkdown"]
	path = plugin/habarimarkdown
	url = https://github.com/habari-extras/habarimarkdown.git
[submodule "plugin/habminbar"]
	path = plugin/habminbar
	url = https://github.com/habari-extras/habminbar.git
[submodule "plugin/hadminstrip"]
	path = plugin/hadminstrip
	url = https://github.com/habari-extras/hadminstrip.git
[submodule "plugin/hconsole"]
	path = plugin/hconsole
	url = https://github.com/habari-extras/hconsole.git
[submodule "plugin/helpify"]
	path = plugin/helpify
	url = https://github.com/habari-extras/helpify.git
[submodule "plugin/highlighter"]
	path = plugin/highlighter
	url = https://github.com/habari-extras/highlighter.git
[submodule "plugin/hpm"]
	path = plugin/hpm
	url = https://github.com/habari-extras/hpm.git
[submodule "plugin/html5shiv"]
	path = plugin/html5shiv
	url = https://github.com/habari-extras/html5shiv.git
[submodule "plugin/htmleverywhere"]
	path = plugin/htmleverywhere
	url = https://github.com/habari-extras/htmleverywhere.git
[submodule "plugin/ie_admin"]
	path = plugin/ie_admin
	url = https://github.com/habari-extras/ie_admin.git
[submodule "plugin/import"]
	path = plugin/import
	url = https://github.com/habari-extras/import.git
[submodule "plugin/incoming_links"]
	path = plugin/incoming_links
	url = https://github.com/habari-extras/incoming_links.git
[submodule "plugin/inline_edit"]
	path = plugin/inline_edit
	url = https://github.com/habari-extras/inline_edit.git
[submodule "plugin/inlineblock"]
	path = plugin/inlineblock
	url = https://github.com/habari-extras/inlineblock.git
[submodule "plugin/instant_search"]
	path = plugin/instant_search
	url = https://github.com/habari-extras/instant_search.git
[submodule "plugin/interwiki"]
	path = plugin/interwiki
	url = https://github.com/habari-extras/interwiki.git
[submodule "plugin/jaiku"]
	path = plugin/jaiku
	url = https://github.com/habari-extras/jaiku.git
[submodule "plugin/jambo"]
	path = plugin/jambo
	url = https://github.com/habari-extras/jambo.git
[submodule "plugin/jsmincdn"]
	path = plugin/jsmincdn
	url = https://github.com/habari-extras/jsmincdn.git
[submodule "plugin/jwysiwyg"]
	path = plugin/jwysiwyg
	url = https://github.com/habari-extras/jwysiwyg.git
[submodule "plugin/keep_login"]
	path = plugin/keep_login
	url = https://github.com/habari-extras/keep_login.git
[submodule "plugin/key_navigation"]
	path = plugin/key_navigation
	url = https://github.com/habari-extras/key_navigation.git
[submodule "plugin/keywords"]
	path = plugin/keywords
	url = https://github.com/habari-extras/keywords.git
[submodule "plugin/lastfm"]
	path = plugin/lastfm
	url = https://github.com/habari-extras/lastfm.git
[submodule "plugin/lastrecent"]
	path = plugin/lastrecent
	url = https://github.com/habari-extras/lastrecent.git
[submodule "plugin/lifestream"]
	path = plugin/lifestream
	url = https://github.com/habari-extras/lifestream.git
[submodule "plugin/lilliputian"]
	path = plugin/lilliputian
	url = https://github.com/habari-extras/lilliputian.git
[submodule "broken/limitaccess"]
	path = broken/limitaccess
	url = https://github.com/habari-extras/limitaccess.git
[submodule "plugin/linkblog"]
	path = plugin/linkblog
	url = https://github.com/habari-extras/linkblog.git
[submodule "plugin/linkoid"]
	path = plugin/linkoid
	url = https://github.com/habari-extras/linkoid.git
[submodule "plugin/livehelp"]
	path = plugin/livehelp
	url = https://github.com/habari-extras/livehelp.git
[submodule "plugin/lockdown"]
	path = plugin/lockdown
	url = https://github.com/habari-extras/lockdown.git
[submodule "plugin/lockout"]
	path = plugin/lockout
	url = https://github.com/habari-extras/lockout.git
[submodule "plugin/login_redirect"]
	path = plugin/login_redirect
	url = https://github.com/habari-extras/login_redirect.git
[submodule "plugin/loupable"]
	path = plugin/loupable
	url = https://github.com/habari-extras/loupable.git
[submodule "plugin/macros"]
	path = plugin/macros
	url = https://github.com/habari-extras/macros.git
[submodule "plugin/magic_archives"]
	path = plugin/magic_archives
	url = https://github.com/habari-extras/magic_archives.git
[submodule "plugin/magictags"]
	path = plugin/magictags
	url = https://github.com/habari-extras/magictags.git
[submodule "plugin/mail_smtp"]
	path = plugin/mail_smtp
	url = https://github.com/habari-extras/mail_smtp.git
[submodule "plugin/maintenance_mode"]
	path = plugin/maintenance_mode
	url = https://github.com/habari-extras/maintenance_mode.git
[submodule "plugin/markup"]
	path = plugin/markup
	url = https://github.com/habari-extras/markup.git
[submodule "plugin/metaseo"]
	path = plugin/metaseo
	url = https://github.com/habari-extras/metaseo.git
[submodule "plugin/metaweblog"]
	path = plugin/metaweblog
	url = https://github.com/habari-extras/metaweblog.git
[submodule "plugin/microid"]
	path = plugin/microid
	url = https://github.com/habari-extras/microid.git
[submodule "plugin/minification"]
	path = plugin/minification
	url = https://github.com/habari-extras/minification.git
[submodule "plugin/mobiletheme"]
	path = plugin/mobiletheme
	url = https://github.com/habari-extras/mobiletheme.git
[submodule "plugin/mollom"]
	path = plugin/mollom
	url = https://github.com/habari-extras/mollom.git
[submodule "plugin/monthly_archives"]
	path = plugin/monthly_archives
	url = https://github.com/habari-extras/monthly_archives.git
[submodule "plugin/mpango"]
	path = plugin/mpango
	url = https://github.com/habari-extras/mpango.git
[submodule "broken/mtimport"]
	path = broken/mtimport
	url = https://github.com/habari-extras/mtimport.git
[submodule "plugin/multisearch"]
	path = plugin/multisearch
	url = https://github.com/habari-extras/multisearch.git
[submodule "plugin/notify_all"]
	path = plugin/notify_all
	url = https://github.com/habari-extras/notify_all.git
[submodule "plugin/ohloh_badge"]
	path = plugin/ohloh_badge
	url = https://github.com/habari-extras/ohloh_badge.git
[submodule "plugin/openid"]
	path = plugin/openid
	url = https://github.com/habari-extras/openid.git
[submodule "plugin/openid_delegation"]
	path = plugin/openid_delegation
	url = https://github.com/habari-extras/openid_delegation.git
[submodule "broken/opensearch"]
	path = broken/opensearch
	url = https://github.com/habari-extras/opensearch.git
[submodule "plugin/optionsmanager"]
	path = plugin/optionsmanager
	url = https://github.com/habari-extras/optionsmanager.git
[submodule "plugin/page_dropdown"]
	path = plugin/page_dropdown
	url = https://github.com/habari-extras/page_dropdown.git
[submodule "plugin/page_subtitle"]
	path = plugin/page_subtitle
	url = https://github.com/habari-extras/page_subtitle.git
[submodule "plugin/pageless"]
	path = plugin/pageless
	url = https://github.com/habari-extras/pageless.git
[submodule "plugin/pagemenu"]
	path = plugin/pagemenu
	url = https://github.com/habari-extras/pagemenu.git
[submodule "broken/paginator"]
	path = broken/paginator
	url = https://github.com/habari-extras/paginator.git
[submodule "plugin/partytime"]
	path = plugin/partytime
	url = https://github.com/habari-extras/partytime.git
[submodule "plugin/passwdlogins"]
	path = plugin/passwdlogins
	url = https://github.com/habari-extras/passwdlogins.git
[submodule "plugin/pbem"]
	path = plugin/pbem
	url = https://github.com/habari-extras/pbem.git
[submodule "plugin/persistance"]
	path = plugin/persistance
	url = https://github.com/habari-extras/persistance.git
